USE [master]
GO
/****** Object:  Database [SGTLibrary]    Script Date: 29-Aug-19 3:17:20 PM ******/
CREATE DATABASE [SGTLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SGTLibrary', FILENAME = N'D:\SGTLibrary.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SGTLibrary_log', FILENAME = N'D:\SGTLibrary_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGTLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGTLibrary]
GO
USE [SGTLibrary]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[ID_ISBN] [bigint] NOT NULL,
	[ID_LOAISACH] [bigint] NULL,
	[ID_NXB] [bigint] NULL,
	[TENDS] [nvarchar](50) NULL,
	[TOMLUOCNOIDUNG] [nvarchar](300) NULL,
	[KHOSACH] [nchar](20) NULL,
	[SOTRANG] [int] NULL,
	[DINHKEM] [nvarchar](300) NULL,
	[VITRI] [nchar](20) NULL,
	[NGONNGU] [nvarchar](50) NULL,
	[PHIENBAN] [int] NULL,
	[NAMXUATBAN] [date] NULL,
	[HINHANH] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[ID_THEDG] [bigint] IDENTITY(1,1) NOT NULL,
	[HOTENDG] [nvarchar](50) NULL,
	[SDTDG] [varchar](10) NULL,
	[EMAILDG] [nvarchar](50) NULL,
	[DIACHIDG] [nvarchar](50) NULL,
	[NGAYSINHDG] [date] NULL,
	[GIOITINHDG] [nvarchar](3) NULL,
	[HSDTHE] [date] NULL,
	[USERNAME_DG] [nvarchar](50) NULL,
	[PASSWORD_DG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DS_TG]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_TG](
	[ID_ISBN] [bigint] NOT NULL,
	[ID_TACGIA] [bigint] NOT NULL,
 CONSTRAINT [PK_DS_TG] PRIMARY KEY CLUSTERED 
(
	[ID_ISBN] ASC,
	[ID_TACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[ID_LOAISACH] [bigint] IDENTITY(1,1) NOT NULL,
	[TENLOAISACH] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[ID_NXB] [bigint] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](50) NULL,
	[DIACHINXB] [nvarchar](50) NULL,
	[SDTNXB] [varchar](10) NULL,
	[EMAILNXB] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[ID_PHIEUMUON] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_THUTHU] [bigint] NULL,
	[ID_THEDG] [bigint] NULL,
	[NGAYLAPPM] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[ID_PHIEUTRA] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_THEDG] [bigint] NULL,
	[ID_THUTHU] [bigint] NULL,
	[NGAYLAPPT] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_S]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_S](
	[ID_PHIEUMUON] [bigint] NOT NULL,
	[BARCODE] [bigint] NOT NULL,
	[NGAYHUATRA] [date] NULL,
 CONSTRAINT [PK_PM_S] PRIMARY KEY CLUSTERED 
(
	[ID_PHIEUMUON] ASC,
	[BARCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PT_S]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT_S](
	[ID_PHIEUTRA] [bigint] NOT NULL,
	[BARCODE] [bigint] NOT NULL,
	[NGAYTRA] [date] NULL,
 CONSTRAINT [PK_PT_S] PRIMARY KEY CLUSTERED 
(
	[ID_PHIEUTRA] ASC,
	[BARCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[BARCODE] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_ISBN] [bigint] NULL,
	[TRANGTHAI] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 29-Aug-19 3:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[ID_TACGIA] [bigint] IDENTITY(1,1) NOT NULL,
	[HOTENTG] [nvarchar](50) NULL,
	[SDTTG] [varchar](10) NULL,
	[EMAILTG] [nvarchar](50) NULL,
	[TRINHDO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUTHU]    Script Date: 29-Aug-19 3:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUTHU](
	[ID_THUTHU] [bigint] NOT NULL,
	[HOTENTT] [nvarchar](50) NULL,
	[SDTTT] [varchar](10) NULL,
	[EMAILTT] [nvarchar](50) NULL,
	[DIACHITT] [nvarchar](50) NULL,
	[NGAYSINHTT] [date] NULL,
	[GIOITINHTT] [nvarchar](3) NULL,
	[USERNAME_TT] [nvarchar](50) NULL,
	[PASSWORD_TT] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DAUSACH] ([ID_ISBN], [ID_LOAISACH], [ID_NXB], [TENDS], [TOMLUOCNOIDUNG], [KHOSACH], [SOTRANG], [DINHKEM], [VITRI], [NGONNGU], [PHIENBAN], [NAMXUATBAN], [HINHANH]) VALUES (1, 1, 1, N'Mathematics with applications finite version', N'Mathematics with applications finite version: Student''s solutions manual', N'28                  ', 501, NULL, N'510 L693/8e03       ', N'English', 8, CAST(N'2003-01-01' AS Date), N'1.jpg')
INSERT [dbo].[DAUSACH] ([ID_ISBN], [ID_LOAISACH], [ID_NXB], [TENDS], [TOMLUOCNOIDUNG], [KHOSACH], [SOTRANG], [DINHKEM], [VITRI], [NGONNGU], [PHIENBAN], [NAMXUATBAN], [HINHANH]) VALUES (2, 1, 1, N'Starting out with Java', N'Starting out with Java: From control structures through data structures', N'25                  ', 1344, N'CD', N'005.133 G123/1e06   ', N'English', 1, CAST(N'2006-01-01' AS Date), N'2.jpg')
INSERT [dbo].[DAUSACH] ([ID_ISBN], [ID_LOAISACH], [ID_NXB], [TENDS], [TOMLUOCNOIDUNG], [KHOSACH], [SOTRANG], [DINHKEM], [VITRI], [NGONNGU], [PHIENBAN], [NAMXUATBAN], [HINHANH]) VALUES (3, 1, 1, N'A practical guide to Linux', N'Hands-On Linux is the perfect combination for Linux enthusiasts who want both a complete tutorial and reference on Linux as well as a comprehensive Linux software starter kit', N'24                  ', 1071, NULL, N'005.4469 S677/1e97  ', N'English', 1, CAST(N'1997-01-01' AS Date), N'3.jpg')
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([ID_THEDG], [HOTENDG], [SDTDG], [EMAILDG], [DIACHIDG], [NGAYSINHDG], [GIOITINHDG], [HSDTHE], [USERNAME_DG], [PASSWORD_DG]) VALUES (1, N'Nguyen Van A', N'0908333222', N'abd@gmail.com', N'1 duong 2 Q.3', CAST(N'1997-01-11' AS Date), N'Nam', CAST(N'2020-01-01' AS Date), N'AAA', N'123456789')
INSERT [dbo].[DOCGIA] ([ID_THEDG], [HOTENDG], [SDTDG], [EMAILDG], [DIACHIDG], [NGAYSINHDG], [GIOITINHDG], [HSDTHE], [USERNAME_DG], [PASSWORD_DG]) VALUES (2, N'Nguyen Van B', N'0908555666', N'sf@gmail.com', N'2 duong 4 q.4', CAST(N'1997-01-01' AS Date), N'Nữ', CAST(N'2020-01-01' AS Date), N'121', N'123456789')
INSERT [dbo].[DOCGIA] ([ID_THEDG], [HOTENDG], [SDTDG], [EMAILDG], [DIACHIDG], [NGAYSINHDG], [GIOITINHDG], [HSDTHE], [USERNAME_DG], [PASSWORD_DG]) VALUES (3, N'Lê Trần Thái Phong', N'0145263789', N'phongle@gmail.com', N'TP.HCM', CAST(N'1998-07-20' AS Date), N'Nam', CAST(N'2020-02-02' AS Date), N'phongle345', N'345')
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
SET IDENTITY_INSERT [dbo].[LOAISACH] ON 

INSERT [dbo].[LOAISACH] ([ID_LOAISACH], [TENLOAISACH]) VALUES (1, N'Programming')
INSERT [dbo].[LOAISACH] ([ID_LOAISACH], [TENLOAISACH]) VALUES (2, N'Language')
INSERT [dbo].[LOAISACH] ([ID_LOAISACH], [TENLOAISACH]) VALUES (3, N'Kinh tế - chính trị')
SET IDENTITY_INSERT [dbo].[LOAISACH] OFF
SET IDENTITY_INSERT [dbo].[NXB] ON 

INSERT [dbo].[NXB] ([ID_NXB], [TENNXB], [DIACHINXB], [SDTNXB], [EMAILNXB]) VALUES (1, N'Addison Wesley', N'America', N'0123456780', N'kimdong@gmail.com')
INSERT [dbo].[NXB] ([ID_NXB], [TENNXB], [DIACHINXB], [SDTNXB], [EMAILNXB]) VALUES (2, N'TP.HCM', N'TP.HCM', N'0456789010', N'phuongnam@gmail.com')
INSERT [dbo].[NXB] ([ID_NXB], [TENNXB], [DIACHINXB], [SDTNXB], [EMAILNXB]) VALUES (3, N'Bến Tre', N'Bến Tre', N'0998877660', N'bentre@yahoo.com.vn')
SET IDENTITY_INSERT [dbo].[NXB] OFF
SET IDENTITY_INSERT [dbo].[PHIEUMUON] ON 

INSERT [dbo].[PHIEUMUON] ([ID_PHIEUMUON], [ID_THUTHU], [ID_THEDG], [NGAYLAPPM]) VALUES (1, 1, 4, CAST(N'2019-08-29' AS Date))
INSERT [dbo].[PHIEUMUON] ([ID_PHIEUMUON], [ID_THUTHU], [ID_THEDG], [NGAYLAPPM]) VALUES (2, 1, 4, CAST(N'2019-08-29' AS Date))
INSERT [dbo].[PHIEUMUON] ([ID_PHIEUMUON], [ID_THUTHU], [ID_THEDG], [NGAYLAPPM]) VALUES (3, 1, 2, CAST(N'2019-08-29' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEUMUON] OFF
INSERT [dbo].[PM_S] ([ID_PHIEUMUON], [BARCODE], [NGAYHUATRA]) VALUES (1, 10000003, CAST(N'2019-08-31' AS Date))
INSERT [dbo].[PM_S] ([ID_PHIEUMUON], [BARCODE], [NGAYHUATRA]) VALUES (2, 10000009, CAST(N'2019-08-31' AS Date))
INSERT [dbo].[PM_S] ([ID_PHIEUMUON], [BARCODE], [NGAYHUATRA]) VALUES (3, 10000015, CAST(N'2019-08-31' AS Date))
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([BARCODE], [ID_ISBN], [TRANGTHAI]) VALUES (10000002, 1, N'In Stock')
INSERT [dbo].[SACH] ([BARCODE], [ID_ISBN], [TRANGTHAI]) VALUES (10000003, 2, N'Borrowed')
INSERT [dbo].[SACH] ([BARCODE], [ID_ISBN], [TRANGTHAI]) VALUES (10000006, 3, N'In Stock')
SET IDENTITY_INSERT [dbo].[SACH] OFF
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([ID_TACGIA], [HOTENTG], [SDTTG], [EMAILTG], [TRINHDO]) VALUES (2, N'Le Huy Lam', N'1234567890', N'nguyenthanhviet31031998@gmail.com', N'Đại học')
INSERT [dbo].[TACGIA] ([ID_TACGIA], [HOTENTG], [SDTTG], [EMAILTG], [TRINHDO]) VALUES (1, N'Hungerford', N'0778074976', N'bbb@gmail.com', N'Đại học')
INSERT [dbo].[TACGIA] ([ID_TACGIA], [HOTENTG], [SDTTG], [EMAILTG], [TRINHDO]) VALUES (3, N'Patrica A. Dunkel', N'0162453987', N'nbachnghiem97@gmail.com', N'Đại học')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
INSERT [dbo].[THUTHU] ([ID_THUTHU], [HOTENTT], [SDTTT], [EMAILTT], [DIACHITT], [NGAYSINHTT], [GIOITINHTT], [USERNAME_TT], [PASSWORD_TT]) VALUES (1, N'Trần Ngọc Minh', N'0123456789', N'minhtran97@gmail.com', N'TP.HCM', CAST(N'1998-07-07' AS Date), N'Nam', N'minhtran97', N'123')
INSERT [dbo].[THUTHU] ([ID_THUTHU], [HOTENTT], [SDTTT], [EMAILTT], [DIACHITT], [NGAYSINHTT], [GIOITINHTT], [USERNAME_TT], [PASSWORD_TT]) VALUES (2, N'Huỳnh Ngọc Khánh', N'0938213121', N'khanhhuynh@gmail.com', N'TP.HCM', CAST(N'1998-05-28' AS Date), N'Nam', N'khanhhuynh000', N'123')
/****** Object:  Index [PK_DAUSACH]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[DAUSACH] ADD  CONSTRAINT [PK_DAUSACH] PRIMARY KEY NONCLUSTERED 
(
	[ID_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LS_DS_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [LS_DS_FK] ON [dbo].[DAUSACH]
(
	[ID_LOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NXB_DS_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [NXB_DS_FK] ON [dbo].[DAUSACH]
(
	[ID_NXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DOCGIA]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [PK_DOCGIA] PRIMARY KEY NONCLUSTERED 
(
	[ID_THEDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DS_TG_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [DS_TG_FK] ON [dbo].[DS_TG]
(
	[ID_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DS_TG2_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [DS_TG2_FK] ON [dbo].[DS_TG]
(
	[ID_TACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAISACH]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[LOAISACH] ADD  CONSTRAINT [PK_LOAISACH] PRIMARY KEY NONCLUSTERED 
(
	[ID_LOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NXB]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[NXB] ADD  CONSTRAINT [PK_NXB] PRIMARY KEY NONCLUSTERED 
(
	[ID_NXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHIEUMUON]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[PHIEUMUON] ADD  CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY NONCLUSTERED 
(
	[ID_PHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DG_PM_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [DG_PM_FK] ON [dbo].[PHIEUMUON]
(
	[ID_THEDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TT_PM_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [TT_PM_FK] ON [dbo].[PHIEUMUON]
(
	[ID_THUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHIEUTRA]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[PHIEUTRA] ADD  CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY NONCLUSTERED 
(
	[ID_PHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DG_PT_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [DG_PT_FK] ON [dbo].[PHIEUTRA]
(
	[ID_THEDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TT_PT_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [TT_PT_FK] ON [dbo].[PHIEUTRA]
(
	[ID_THUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PM_S_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [PM_S_FK] ON [dbo].[PM_S]
(
	[ID_PHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PM_S2_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [PM_S2_FK] ON [dbo].[PM_S]
(
	[BARCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PT_S_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [PT_S_FK] ON [dbo].[PT_S]
(
	[ID_PHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PT_S2_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [PT_S2_FK] ON [dbo].[PT_S]
(
	[BARCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SACH]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[SACH] ADD  CONSTRAINT [PK_SACH] PRIMARY KEY NONCLUSTERED 
(
	[BARCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DS_S_FK]    Script Date: 29-Aug-19 3:17:22 PM ******/
CREATE NONCLUSTERED INDEX [DS_S_FK] ON [dbo].[SACH]
(
	[ID_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TACGIA]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[TACGIA] ADD  CONSTRAINT [PK_TACGIA] PRIMARY KEY NONCLUSTERED 
(
	[ID_TACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_THUTHU]    Script Date: 29-Aug-19 3:17:22 PM ******/
ALTER TABLE [dbo].[THUTHU] ADD  CONSTRAINT [PK_THUTHU] PRIMARY KEY NONCLUSTERED 
(
	[ID_THUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_LS_DS_LOAISACH] FOREIGN KEY([ID_LOAISACH])
REFERENCES [dbo].[LOAISACH] ([ID_LOAISACH])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_LS_DS_LOAISACH]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_NXB_DS_NXB] FOREIGN KEY([ID_NXB])
REFERENCES [dbo].[NXB] ([ID_NXB])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_NXB_DS_NXB]
GO
ALTER TABLE [dbo].[DS_TG]  WITH CHECK ADD  CONSTRAINT [FK_DS_TG_DS_TG_DAUSACH] FOREIGN KEY([ID_ISBN])
REFERENCES [dbo].[DAUSACH] ([ID_ISBN])
GO
ALTER TABLE [dbo].[DS_TG] CHECK CONSTRAINT [FK_DS_TG_DS_TG_DAUSACH]
GO
ALTER TABLE [dbo].[DS_TG]  WITH CHECK ADD  CONSTRAINT [FK_DS_TG_DS_TG2_TACGIA] FOREIGN KEY([ID_TACGIA])
REFERENCES [dbo].[TACGIA] ([ID_TACGIA])
GO
ALTER TABLE [dbo].[DS_TG] CHECK CONSTRAINT [FK_DS_TG_DS_TG2_TACGIA]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUO_DG_PM_DOCGIA] FOREIGN KEY([ID_THEDG])
REFERENCES [dbo].[DOCGIA] ([ID_THEDG])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUO_DG_PM_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUO_TT_PM_THUTHU] FOREIGN KEY([ID_THUTHU])
REFERENCES [dbo].[THUTHU] ([ID_THUTHU])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUO_TT_PM_THUTHU]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_DG_PT_DOCGIA] FOREIGN KEY([ID_THEDG])
REFERENCES [dbo].[DOCGIA] ([ID_THEDG])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_DG_PT_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_TT_PT_THUTHU] FOREIGN KEY([ID_THUTHU])
REFERENCES [dbo].[THUTHU] ([ID_THUTHU])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_TT_PT_THUTHU]
GO
ALTER TABLE [dbo].[PM_S]  WITH CHECK ADD  CONSTRAINT [FK_PM_S_PM_S_PHIEUMUO] FOREIGN KEY([ID_PHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([ID_PHIEUMUON])
GO
ALTER TABLE [dbo].[PM_S] CHECK CONSTRAINT [FK_PM_S_PM_S_PHIEUMUO]
GO
ALTER TABLE [dbo].[PM_S]  WITH CHECK ADD  CONSTRAINT [FK_PM_S_PM_S2_SACH] FOREIGN KEY([BARCODE])
REFERENCES [dbo].[SACH] ([BARCODE])
GO
ALTER TABLE [dbo].[PM_S] CHECK CONSTRAINT [FK_PM_S_PM_S2_SACH]
GO
ALTER TABLE [dbo].[PT_S]  WITH CHECK ADD  CONSTRAINT [FK_PT_S_PT_S_PHIEUTRA] FOREIGN KEY([ID_PHIEUTRA])
REFERENCES [dbo].[PHIEUTRA] ([ID_PHIEUTRA])
GO
ALTER TABLE [dbo].[PT_S] CHECK CONSTRAINT [FK_PT_S_PT_S_PHIEUTRA]
GO
ALTER TABLE [dbo].[PT_S]  WITH CHECK ADD  CONSTRAINT [FK_PT_S_PT_S2_SACH] FOREIGN KEY([BARCODE])
REFERENCES [dbo].[SACH] ([BARCODE])
GO
ALTER TABLE [dbo].[PT_S] CHECK CONSTRAINT [FK_PT_S_PT_S2_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_DS_S_DAUSACH] FOREIGN KEY([ID_ISBN])
REFERENCES [dbo].[DAUSACH] ([ID_ISBN])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_DS_S_DAUSACH]
GO
USE [master]
GO
