<!-- <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Saigontech Library </title>

  
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="css/fontawesome-all.css">

    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />

    <link href="css/menu.css" rel="stylesheet" type="text/css" media="all" />

    <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>


    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" style="font-size: 27px;" href="index.html">
        <img src="img/sgtech_logo.png " height="50 " width="65 "> LIBRARY
      </a>
            <ul class="nav">
              <li><a href="index.html">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li><a href="about.html">About Us</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li><a href="contact.html">Contact Us</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li><a href="log-in.html">Sign In</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
        </div>
    </nav> -->
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>

          <form class="form-signin" name="form">
            <div class="form-label-group">
              <input id="username" class="form-control" name="username" placeholder="Username" ng-model="username" required autofocus>
              <label for="username"></label>
              <span class="error" ng-show="form.username.$error.required" style="font-size:15px; color: red">*please enter
                your username!</span>
              <span class="valid" ng-show="form.username.$valid"></span>
            </div>

            <div class="form-label-group">
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" ng-model="password"
                required>
              <label for="password"></label>
              <span class="error" ng-show="form.password.$error.required" style="font-size:15px; color: red">*please
                enter your password!</span>
              <span class="valid" ng-show="form.password.$valid"></span>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" ng-click="login()">Sign in</button>
            <span style="font-size: 20px; color: red" id="btnInvalid"></span>
            <hr class="my-4">
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer
    <footer class="footer bg-light ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-2 h-100 text-center text-lg-left my-auto ">
                    <img src="img/sgtech_logo.png " height="100 " width="120 ">

                </div>
                <div class="col-lg-4 h-100 text-center text-lg-left my-auto ">
                    <p class="small mb-4 mb-lg-0 ">Saigon Institute of Technology</p>
                    <p class="small mb-4 mb-lg-0 ">Email: info@saigontech.edu.vn</p>
                    <p class="small mb-4 mb-lg-0 ">Lot 14, Road 5, Quang Trung Software City, District 12, Ho Chi Minh City, Vietnam</p>
                    <p class="small mb-4 mb-lg-0 ">Phone:+84 8 37 155 033</p>
                </div>

                <div class="col-lg-6 h-100 text-center text-lg-right my-auto ">
                  
                </div>
            </div>
        </div>
    </footer>

   
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html> 